<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><!--
  <a class="navbar-brand"><img src="./assets/img/twoheart6.png" class="img-fluid"><b style="color:antiquewhite">Luvforyou</b><img src="./assets/img/twoheart6.png" class="img-fluid"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Luvforyou</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/about">AboutUs</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="card bg-light mb-3" style="margin-left: 10%; margin-right: 10%; margin-top: 3%;">
    <div class="card-header">About Us</div>
    <div class="card-body">
      <h4 class="card-title">Here's small details about us</h4>
      <p class="card-text">At Luvforyou, we’re dedicated to helping people find love and happiness through meaningful connections. Our one-of-a-kind algorithm matches you on what actually matters. We create romantic opportunities so singles are more likely to find someone special. Over the years, we've learned more and more about what people want and the tools they need to help take the lottery out of love..</p>
    </div>
  </div>
  <hr style="margin-left:3%;margin-right:3%;">
  <div class="jumbotron" style="margin-left: 10%; margin-right: 10%; margin-top: 3%;">
    <div style="max-width: 70rem;">  
    <h1 class="display-3">Hello, Welcome to Luvforyou!</h1>
      <p class="lead">Founder of Luvforyou : Iqmal Hazzeq.</p>
      <hr class="my-4">
    </div>
    <div>
      <img src="./assets/img/iqmalhazzeq.png" width="20%" height="20%" class="img-fluid">
    </div>
    </div>